spring:
  application:
    name: demo-auth-jwt
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password:

    # Cliente H2
  h2:
    console:
      enabled: true
      path: /h2-console

    # JPA, SQL

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true